{% extends 'base.html' %}
{% load static %}

      {% block content %}


      <div class="container">
        <div class="col-md-12">
        <section class="pt-5">
          <header class="text-center">

            <h2 class="h5 text-uppercase mb-4">Choisiessez un  categories</h2>
          </header>
          <div class="row">
          {% if categories %}
            {% for x in categories %}

              <div class="col-md-4 mb-4 mb-md-5">
                <a class="category-item" href="{% url 'categori' x.id %}">
                    <strong class="text-success display-5">{{ x.categorie }}</strong>
                    <img class="img-fluid" src="{{ x.image.url }}" >
                </a>
              </div>

            {% endfor %}
          {% endif %}
          </div>
        </div>
        </div>
    </div>
 </section>
      {% endblock content %}
